.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #62041C;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  width: 100px;
}

.hallmark img {
  margin-top: 10px;
  height: 75px;
  width: 130px;
  margin-left: 20px; /* Add margin for spacing after logo */
}

.navbar-head { 
  display: flex;
  list-style: none;
  gap: 20px;
  color: #f5e9b3;
  font-size: 20px;
  margin: 0 auto; /* Center the list horizontally */
}

.navbar-head a {
  text-decoration: none; /* Remove underline */
  color: #f5e9b3; /* Default color for links */
}

.navbar-head a:visited,
.navbar-head a:active,
.navbar-head a:hover {
  color: #f5e9b3; /* Ensure the color stays the same in all states */
}


.navbar-right {
  margin-right: 90px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.navbar-wishlist-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.navbar-cart-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  position: relative;
}

.navbar-cart-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #D2AC47;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

/* Style the images within each container */
.navbar-right img,
.navbar-wishlist-icon img,
.navbar-cart-icon img {
  width: 24px;
  height: 24px;
}

.Navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #D2AC47;
}

.Navbar li {
  cursor: pointer;
}

body{
  margin-top: 90px;
}

/* Responsive Adjustments */
@media (max-width: 1050px) {
  .Navbar .logo {
    width: 140px;
  }
  .navbar-head {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img,
  .navbar-wishlist-icon img,
  .navbar-cart-icon img {
    width: 22px;
  }
  .hallmark img {
    width: 30px;
  }
}

@media (max-width: 900px) {
  .Navbar .logo {
    width: 120px;
  }
  .navbar-head {
    gap: 15px;
    font-size: 15px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img,
  .navbar-wishlist-icon img,
  .navbar-cart-icon img {
    width: 20px;
  }
  .hallmark img {
    width: 20px;
  }
}

@media (max-width: 750px) {
  .navbar-head {
    display: none; /* Hide navigation links on smaller screens */
  }
}

@media (max-width: 600px) { 
  .Navbar {
    flex-direction: column; /* Stack elements vertically */
  }
  .logo {
    margin-bottom: 15px; /* Add space below logo */
  }
  .hallmark img {
    display: none; /* Hide hallmark image on very small screens */
  }
  .navbar-right {
    margin-right: 0; /* Remove right margin */
  }
}