.footer {
    color: maroon;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1px 2vw;
    padding-top: 20px;
    margin-top: 100px;
  }
  
  .footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px; /* Reduced gap */
  }
  
  .footer-content-left img {
    width: 90px; /* Reduced image size */
  }
  
  .footer-social-icons {
    display: flex;
    width: 5px; /* Removed width restriction */
    gap: 15px; /* Reduced gap */
    cursor: pointer;
  }
  
  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    display: flex;
    font-size: 16px; /* Slightly reduced font size */
    flex-direction: column;
    align-items: start;
    gap: 3px; /* Reduced gap */
    
  }
  
  .footer-content-center li,
  .footer-content-right li {
    list-style: none;
    margin-bottom: 8px; 
    cursor: pointer;
  }
  .footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: maroon;
    border: none;
  }
  .footer-copyright{
    margin-top: 0px;
  }
  